# Version of Compose File (Ver 1 by default, can be specific like Ver3.7)
version: '3'

# Services correspond to app components, sep' docker imgs for sep' concerns
# Def [1. Flask Application service = app, 2. Redis service = redis]
# Can Specify one Image / service & one service / concern
services:
  app:
    # Service uses a custom image built using Dockerfile in current dir. (/.)
    build: 
     # Build Context path
     context: .
     # Build arguments
     args:
      - IMAGE_VERSION=3.7.0-alpine3.8
    # if img not on local m/c, D-Compose builds it with name as in 'image' tag
    image: takacsmark/flask-redis:1.0
    environment:
      - FLASK_ENV=development
    # Host port (80); Container Port(5000)
    ports:
      - 80:5000
    # network key to connect to
    networks:
      - mynet

  redis:
    image: redis:4.0.11-alpine
    # network key to connect to
    networks:
      - mynet
    # volumes to connect to
    volumes:
      - mydata:/data

# Bridge-Network - N/W on HOST machine isolated from rest of host N/W stack
networks:
  mynet:
# named volumes 
volumes:
  mydata:
